# Ignore VS Code settings
.vscode/

# Ignore compiled binary files
*.exe
*.out
*.o
*.obj
.giitignore
# Ignore temporary or log files
*.log
*.tmp
*.bak

# Ignore input/output files generated during testing
input.txt
output.txt
ganerator.cpp
# Ignore OS-specific files
.DS_Store
Thumbs.db
